@import "./globals.scss";

footer {
    padding: 1rem;
    background-color: var(--header-color);
    position: sticky;
    top: 100%;
    margin-top: 20px;
}

.footerNameContainer {
    width: 50%;
}

.footerNameContainer p {
    @include DefaultTextStyle();
    letter-spacing: 0.007em;
    font-weight: 500;
    font-size: 16px;
    margin: 0 1rem;
    color: var(--header-color-text);
}

.currentYearContainer {
    width: 50%;
}

.currentYearContainer p {
    letter-spacing: 0.007em;
    font-size: 16px;
    margin: 0 1rem;
    @include DefaultTextStyle();
    font-weight: 500;
    color: var(--header-color-text);
}