body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: auto;
  font-size: 8px;
  min-height: 100vh;
  background-color: rgb(238, 238, 238) !important;
}

:root {
  --header-color-text: #f0f0f0;
  --font-family: 'Helvetica';
}

// Set Default Font & Line Height
@mixin DefaultTextStyle() {
  font-family: var(--font-family);
  line-height: 1.5;
}

// Button Hover Default Colour scheme
@mixin DefaultButtonHover {
  cursor: pointer;
  background-color: rgb(44, 153, 139);
  color: #fff;
}

@mixin DefaultHeaderColor {
  background: linear-gradient(
    to right,
    rgba(2, 61, 254, 0.9) 65%,
    rgb(3, 75, 200)
  );
  clip-path: polygon(0 0, 100% 0, 100% 90%, 60% 100%, 0% 100%);
}
