body,html{
  margin:0;
  padding:0;
  box-sizing: border-box;
  overflow: auto;
  min-height: 100vh;
  background-color: rgb(238, 238, 238) !important;
}


:root{
  --header-color: #01043b;
  --header-color-text: #f0f0f0;
  --font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


// Set Default Font & Line Height
@mixin DefaultTextStyle() {
  font-family: var(--font-family);
  line-height: 1.5;
}

// Button Hover Default Colour scheme
@mixin DefaultButtonHover{
    cursor: pointer;
    background-color: rgb(44, 153, 139);
    color: #fff;
}

// Text Decoration
@mixin TextUnderline{
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-style: solid;
  -moz-text-decoration-style: solid;
}