@import './globals.scss';

nav {
  background: linear-gradient(
    to right,
    rgba(2, 61, 254, 0.9) 65%,
    rgb(3, 75, 200)
  );
}

.navigationNameContainer {
  width: 48%;
  padding: 1.5rem;
  align-items: center;
}

.navigationNameContainer p {
  @include DefaultTextStyle();
  font-weight: 400;
  padding: 0.5rem 2rem;
  margin: 0;
  font-size: 4rem;
  color: var(--header-color-text);
}

.navigationListContainer {
  width: 52%;
  justify-content: end;
  padding: 1.5rem;
  align-items: center;
}

.navigationListContainer ul {
  display: inline-flex;
  padding: 0;
  margin: 0;
}

.navigationListContainer li a {
  @include DefaultTextStyle();
  margin: 0.5rem;
  font-size: 2.5rem;
  color: var(--header-color-text);
}

.navigationListContainer li a:hover,
.navigationListContainer li a:active {
  color: rgb(224, 220, 220);
  margin: 0.5rem 1.5rem;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 2px;
  transform: scale(1.1);
  -webkit-transform: scale(1.12);
  -moz-transform: scale(1.12);
  -ms-transform: scale(1.12);
  -o-transform: scale(1.12);
}
