@import './globals.scss';

/* #region First Section Styling  */
.mainSection {
  @include DefaultHeaderColor();
  display: flex;
  min-height: 600px;
}

.headerImageContainer {
  width: 45%;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.headerImageContainer img {
  aspect-ratio: 5 / 4;
  width: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.exploreHeaderContainer {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  justify-content: center;
}

.exploreHeaderContainer h1 {
  padding-top: 20px;
  letter-spacing: 0.007em;
  @include DefaultTextStyle();
  color: var(--header-color-text);
  font-weight: bold;
  font-size: 6rem;
}
.exploreHeaderContainer p {
  margin: 1rem auto;
  @include DefaultTextStyle();
  padding: 1rem;
  letter-spacing: 0.007em;
  font-weight: 300;
  font-size: 4rem;
  color: var(--header-color-text);
}

/* #endregion */

/*  #region Explore Button Styling  */
.exploreHeaderContainer button {
  background-color: rgba(39, 115, 208, 0.984);
  border: none;
  color: rgb(255, 255, 255);
  letter-spacing: 0.09em;
  width: 200px;
  height: 50px;
  border-radius: 1rem;
  margin: 0.5rem auto;
  line-height: 1.5;
  box-shadow: inset 0px 0px 0px 2px rgb(169, 169, 169);
  font-family: var(----font-family);
  font-weight: bold;
  font-size: 16px;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.exploreHeaderContainer button:hover,
.exploreHeaderContainer button:active {
  @include DefaultButtonHover();
}
/* #endregion */

/* #region Partnership section styling  */
.partnershipContainer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  background-color: rgba(249, 250, 250, 0.984);
  padding: 3rem;
}

.partnershipTitleContainer {
  position: relative;
}

.partnershipContainer h2 {
  text-align: center;
  margin: 3rem auto;
  padding: 3rem 1rem;
  @include DefaultTextStyle();
  font-weight: 600;
  font-size: 5rem;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-line: underline;
  text-underline-position: under;
  -moz-text-decoration-style: dashed;
  -moz-text-decoration-line: underline;
}

.patnershipMainContainer {
  justify-content: space-evenly;
  margin: 2rem 0;
  padding: 2rem;
}
.partneshipContainerImage {
  justify-content: center;
  flex-grow: 1;
  margin: 1rem;
  min-height: 400px;
  max-width: 300px;
  background-color: rgba(238, 238, 238, 0.92);
  box-shadow: 3px 4px 12px #e9e9e9;
}

.partneshipContainerImage img {
  aspect-ratio: auto 2/4;
  height: 50% !important;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.partneshipContainerImage h4 {
  font-size: 3.5rem;
  @include DefaultTextStyle();
  font-weight: 600;
}

.partneshipContainerImage h5 {
  @include DefaultTextStyle();
  font-size: 2.5rem;
  font-weight: 400;
}
/* #endregion */

// Explore Container styling
.exploreContainer {
  background-color: rgba(245, 246, 247, 0.984);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  min-height: 400px;
}

.exploreContainer h3 {
  @include DefaultTextStyle();
  text-align: center;
  margin: 70px auto;
  font-weight: 500;
  font-size: 5rem;
  animation: 1s movefromLeftToCenter ease-in;
  padding-bottom: 20px;
  -webkit-animation: 1s movefromLeftToCenter ease-in;
}

.exploreContainer p {
  @include DefaultTextStyle();
  font-size: 2.5rem;
  text-align: center;
  font-weight: 500;
  margin: auto;
  padding-bottom: 20px;
  animation: 1s movefromLeftToCenter ease-in;
  -webkit-animation: 1s movefromLeftToCenter ease-in;
}

@keyframes movefromLeftToCenter {
  from {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
