/* #region First Section Styling  */
.mainSection{
    background-color: var(--header-color);
    display: flex;
    padding: 2rem 1rem;
    flex-direction: row;
    min-height: 500px;
}

.headerImageContainer{
    width:45%;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items:center;
}

.headerImageContainer img{
    aspect-ratio: 5 / 4;
    width: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.exploreHeaderContainer{
    width:55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.exploreHeaderContainer h1{
    line-height: 1.5;
    padding-top: 20px;
    letter-spacing: 0.007em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    margin: 1rem auto;
    color:var(--header-color-text);
    font-size: 36px;
}
.exploreHeaderContainer p{
    margin: 1rem auto;
    padding: 1rem;
    line-height: 1.5;
    letter-spacing: 0.007em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: var(--header-color-text);
}

/* #endregion */

/*  #region Explore Button Styling  */
.exploreHeaderContainer button{
    background-color: rgba(39, 115, 208, 0.984);
    border: none;
    color: rgb(255, 255, 255);
    letter-spacing: 0.09em;
    width:200px;
    height: 50px;
    border-radius: 1rem;
    margin: 1rem auto;
    line-height: 1.5;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.exploreHeaderContainer button:hover, .exploreHeaderContainer button:active{
    background-color: rgb(44, 153, 139);
    color:#fff;
    cursor: pointer;
}
/* #endregion */

/* #region Partnership section styling  */
.partnershipContainer{
    padding:1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    margin: 3rem 0;
}

.partnershipTitleContainer{
    position: relative;
}

.partnershipContainer h2{
    text-align: center;
    margin: 3rem auto;
    padding: 2rem 1rem;
    line-height: 1.5;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    font-size: 38px;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-line: underline;
    text-underline-position: under;
    -moz-text-decoration-style: dashed;
    -moz-text-decoration-line: underline;
}

.patnershipMainContainer{
    justify-content: space-evenly;
    margin: 2rem 0;
}
.partneshipContainerImage{
    justify-content: center;
    height:100%;
    margin: 1rem;
    padding: 2rem;
    background-color: rgba(253, 253, 253, 0.942);
    box-shadow: 1px 3px 12px #dbdada;
}

.partneshipContainerImage img{
    object-fit: cover;
    aspect-ratio: auto 2/4;
}

/* #endregion */