.mainSection {
    background-color: var(--header-color);
    padding: 2rem 1rem;
    flex-direction: row;
    min-height: 300px;
}

.ticketSection{
    min-height: 400px;
}

.dashboardContainer{
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 5px 4px 3px rgb(231, 231, 231);
}
.openTicketTitle{
    color: var(--header-color-text);
    letter-spacing: 0.007em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    font-size: 36px;
}

.openTicketText, .dashboardText{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    line-height: 1.5;
    font-size: 22px;
}