@import '../globals.scss';

.contactMainContainer {
  padding: 1rem;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactTitleSection {
  height:350px;
  @include DefaultHeaderColor();
}
/*  Contact Title */
.contactPageTitle {
  font-size: 5rem;
  @include DefaultTextStyle();
  padding: 1rem;
  font-weight: bold;
  letter-spacing: 0.007em;
  color: var(--header-color-text);
}

/* first Section */
.contactFormInformationContainer {
  width: 50%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contactFormInformationContainer h2 {
  font-size: 4rem;
  font-weight: 600;
  @include DefaultTextStyle();
  letter-spacing: 0.007em;
  padding: 2rem 1rem;
  margin: 0 1rem;
  color: #1b1b1b;
}
.contactFormInformationContainer p {
  font-size: 3rem;
  font-weight: 400;
  @include DefaultTextStyle();
  letter-spacing: 0.007em;
  padding: 2rem 1rem;
  margin: 0 1rem;
  color: #1b1b1b;
}

/* Contact Form Section */
.contactFormSection {
  position: relative;
  padding: 3rem 5rem;
  min-height: 500px;
  margin: 60px 0;
}

.contactForm {
  margin: 1rem;
  height: auto;
  border: 1px solid rgba(178, 177, 177, 0.984);
  background: linear-gradient(
    to right,
    rgba(203, 203, 203, 0.986) 70%,
    rgba(225, 225, 225, 0.9)
  );
  flex-direction: column;
  justify-content: space-evenly;
}

.contactForm label {
  @include DefaultTextStyle();
  font-size: 2rem;
}

.contactForm input,
.contactForm textarea {
  @include DefaultTextStyle();
  font-size: 2rem;
  height: calc(3.5rem + 35px) !important;
}

.submitForm {
  width: 200px;
  height: 50px;
  margin: 1rem auto;
  background-color: rgba(39, 115, 208, 0.984);
  border: none;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 600;
  @include DefaultTextStyle();
  letter-spacing: 0.05em;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  box-shadow: inset 0px 0px 0px 2px rgb(169, 169, 169);
  -o-border-radius: 1rem;
}

.submitForm:hover,
.submitForm:active {
  @include DefaultButtonHover();
}

.formTitle {
  color: var(--color-text);
  @include DefaultTextStyle();
  font-weight: 400;
  font-size: 3rem;
  padding: 10px;
  line-height: 1.5;
  margin: 2rem;
}
