body,
html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: auto;
  font-size: 8px;
  min-height: 100vh;
  background-color: #eeeeee !important;
}

:root {
  --header-color-text: #f0f0f0;
  --color-text: #000000;
  --font-family: 'Helvetica';
}

.contactMainContainer {
  padding: 1rem;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactTitleSection {
  background: -webkit-gradient(linear, left top, right top, color-stop(65%, rgba(2, 61, 254, 0.9)), to(#034bc8));
  background: linear-gradient(to right, rgba(2, 61, 254, 0.9) 65%, #034bc8);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 60% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 90%, 60% 100%, 0% 100%);
}

/*  Contact Title */
.contactPageTitle {
  font-size: 7rem;
  font-family: var(--font-family) !important;
  line-height: 1.5 !important;
  padding: 1rem;
  font-weight: bold;
  letter-spacing: 0.007em;
  color: var(--header-color-text);
}

/* first Section */
.contactFormInformationContainer {
  width: 50%;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contactFormInformationContainer h2 {
  font-size: 4rem;
  font-weight: 600;
  font-family: var(--font-family) !important;
  line-height: 1.5 !important;
  letter-spacing: 0.007em;
  padding: 2rem 1rem;
  margin: 0 1rem;
  color: #1b1b1b;
}

.contactFormInformationContainer p {
  font-size: 3rem;
  font-weight: 400;
  font-family: var(--font-family) !important;
  line-height: 1.5 !important;
  letter-spacing: 0.007em;
  padding: 2rem 1rem;
  margin: 0 1rem;
  color: #1b1b1b;
}

/* Contact Form Section */
.contactFormSection {
  position: relative;
  padding: 3rem 5rem;
  min-height: 500px;
  margin: 60px 0;
}

.contactForm {
  margin: 1rem;
  height: auto;
  border: 1px solid rgba(178, 177, 177, 0.984);
  background: -webkit-gradient(linear, left top, right top, color-stop(70%, rgba(203, 203, 203, 0.986)), to(rgba(225, 225, 225, 0.9)));
  background: linear-gradient(to right, rgba(203, 203, 203, 0.986) 70%, rgba(225, 225, 225, 0.9));
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contactForm label {
  font-family: var(--font-family) !important;
  line-height: 1.5 !important;
  font-size: 2rem;
}

.contactForm input,
.contactForm textarea {
  font-family: var(--font-family) !important;
  line-height: 1.5 !important;
  font-size: 2rem;
  height: calc(3.5rem + 35px) !important;
}

.submitForm {
  width: 200px;
  height: 50px;
  margin: 1rem auto;
  background-color: rgba(39, 115, 208, 0.984);
  border: none;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  font-family: var(--font-family) !important;
  line-height: 1.5 !important;
  letter-spacing: 0.05em;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -webkit-box-shadow: inset 0px 0px 0px 2px darkgray;
          box-shadow: inset 0px 0px 0px 2px darkgray;
  -o-border-radius: 1rem;
}

.submitForm:hover,
.submitForm:active {
  cursor: pointer;
  background-color: #2c998b;
  color: #fff;
}

.formTitle {
  color: var(--color-text);
  font-family: var(--font-family) !important;
  line-height: 1.5 !important;
  font-weight: 400;
  font-size: 3rem;
  padding: 10px;
  line-height: 1.5;
  margin: 2rem;
}
/*# sourceMappingURL=contact.css.map */